@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-underline {
  position: relative;
  display: inline-block;
}

.hover-underline::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px; /* Adjust the thickness of the underline as needed */
  background-color: #fefefe; /* Adjust the color of the underline as needed */
  transition: width 0.6s ease;
}

.hover-underline:hover::before {
  width: 100%;
}

body {
  zoom: 125% !important;
}

/* Default styles go here */

/* Apply 100% zoom for screens with a width up to 1920px */
@media screen and (max-width: 1280px) {
  body {
    zoom: 100% !important;
  }
}

@media screen and (min-width: 1281px) {
  body {
    zoom: 125% !important;
  }
}
/* Apply 125% zoom for screens with a width of 1921px or more */
/* @media screen and (min-width: 1921px) {
  body {
    zoom: 125% !important;
  }
} */

/* Apply 125% zoom for screens with a width of 1366px or more */
/* @media screen and (min-width: 1366px) {
  body {
    zoom: 125% !important;
  }
} */
